.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form__fieldset {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background: #FFFFFF;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 8px;
  padding: 28px;
  width: 100%;
}

.form__button {
  border: none;
  width: 200px;
  height: 39px;
  background-color: #6D5BD0;
  border-radius: 6px;
  text-transform: uppercase;
  color: #ffffff;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  margin: 32px 32px 0;
  cursor: pointer;
}